:root {
  --apf-color-alternative-a6: #fef8dd;
  --apf-color-alternative-a1: #a3e5c3;
  --apf-color-alternative-a4: #a6ecfc;
  --apf-color-alternative-a3: #1c9bfc;
  --apf-color-alternative-a5: #ffe266;
  --apf-color-alternative-a2: #f9bc8a;
  --apf-color-background-background: #0e202f;
  --apf-color-complementary-complementary-700: #f3c5be;
  --apf-color-complementary-complementary-900: #fbece9;
  --apf-color-complementary-complementary-500: #e78c7e;
  --apf-color-complementary-complementary-200: #742116;
  --apf-color-complementary-complementary-default: #e38879;
  --apf-color-complementary-complementary-600: #efb2a9;
  --apf-color-complementary-complementary-1000: #fdf4f2;
  --apf-color-complementary-complementary-100: #49150e;
  --apf-color-complementary-complementary-400: #d73f28;
  --apf-color-complementary-complementary-300: #9e2e1e;
  --apf-color-complementary-complementary-800: #f7d9d4;
  --apf-color-institutional-white: #0e3062;
  --apf-color-institutional-grey-ng: #e0e0e1;
  --apf-color-institutional-red-pr: #ce132e;
  --apf-color-institutional-grey-clave: #ebebeb;
  --apf-color-institutional-blue-ed: #ffffff;
  --apf-color-institutional-black-pr: #ffffff;
  --apf-color-institutional-yellow-pr: #ffcc00;
  --apf-color-institutional-orange-clave: #ff5a00;
  --apf-color-institutional-red-cc: #c33400;
  --apf-color-institutional-yellow-ng: #fff200;
  --apf-color-institutional-portafirmas: #ffffff;
  --apf-color-institutional-blue-ng: #ffffff;
  --apf-color-link-link-light: #e38879;
  --apf-color-link-link-alternative: #d4a1fc;
  --apf-color-neutral-grey-3: #1c1c1c;
  --apf-color-neutral-grey-40: #666666;
  --apf-color-neutral-grey-70: #b2b2b2;
  --apf-color-neutral-grey-6: #262626;
  --apf-color-neutral-grey-30: #4d4d4d;
  --apf-color-neutral-grey-60: #9c9c9c;
  --apf-color-neutral-grey-4: #1e1e1e;
  --apf-color-neutral-grey-90: #e9e9e2;
  --apf-color-neutral-grey-1: #161616;
  --apf-color-neutral-grey-0: #0e202f;
  --apf-color-neutral-grey-100: #ffffff;
  --apf-color-neutral-grey-2: #191919;
  --apf-color-neutral-grey-8: #333333;
  --apf-color-neutral-grey-50: #949494;
  --apf-color-neutral-grey-5: #222222;
  --apf-color-neutral-grey-80: #cccccc;
  --apf-color-primary-primary-900: #d4e4f2;
  --apf-color-primary-primary-300: #224d70;
  --apf-color-primary-primary-700: #8db9dd;
  --apf-color-primary-primary-500: #4b87b9;
  --apf-color-primary-primary-default: #8db9dd;
  --apf-color-primary-primary-200: #18364e;
  --apf-color-primary-primary-400: #396a92;
  --apf-color-primary-primary-600: #66a1d1;
  --apf-color-primary-primary-1000: #f5f8fa;
  --apf-color-primary-primary-800: #b1cfe7;
  --apf-color-primary-primary-default-nc: #224d70;
  --apf-color-primary-primary-100: #102537;
  --apf-color-secondary-secondary-100: #332928;
  --apf-color-secondary-secondary-400: #b34d3d;
  --apf-color-secondary-secondary-600: #d8c3c0;
  --apf-color-secondary-secondary-200: #4c3430;
  --apf-color-secondary-secondary-300: #9c4335;
  --apf-color-secondary-secondary-1000: #fbf9f9;
  --apf-color-secondary-secondary-800: #f5f0ef;
  --apf-color-secondary-secondary-700: #e2d2d0;
  --apf-color-secondary-secondary-default: #ce7b6e;
  --apf-color-secondary-secondary-500: #ceb4b1;
  --apf-color-secondary-secondary-900: #f5f0ef;
  --apf-color-semantic-success-300: #bcebd4;
  --apf-color-semantic-notice-100: #16334b;
  --apf-color-semantic-notice-200: #24537a;
  --apf-color-semantic-success: #3bc47c;
  --apf-color-semantic-notice-300: #a8c6ff;
  --apf-color-semantic-information-300: #a8c6ff;
  --apf-color-semantic-maintenance: #ffcc00;
  --apf-color-semantic-error-100: #a31a00;
  --apf-color-semantic-notice-50: #12283b;
  --apf-color-semantic-information-50: #12283b;
  --apf-color-semantic-maintenance-100: #423500;
  --apf-color-semantic-warning-50: #332900;
  --apf-color-semantic-warning-100: #423500;
  --apf-color-semantic-notice: #6398c5;
  --apf-color-semantic-maintenance-50: #332900;
  --apf-color-semantic-error-300: #ffb6a8;
  --apf-color-semantic-maintenance-300: #ffcc00;
  --apf-color-semantic-maintenance-200: #ffcc00;
  --apf-color-semantic-information-200: #24537a;
  --apf-color-semantic-information: #6398c5;
  --apf-color-semantic-warning: #ffcc00;
  --apf-color-semantic-error: #ff6961;
  --apf-color-semantic-information-100: #16334b;
  --apf-color-semantic-warning-300: #ffcc00;
  --apf-color-semantic-warning-200: #ffcc00;
  --apf-color-semantic-success-100: #0f3321;
  --apf-color-text-on-error: #0e202f;
  --apf-color-text-on-a3: #0e202f;
  --apf-color-text-on-a4: #0e202f;
  --apf-color-text-on-maintenance: #0e202f;
  --apf-color-text-disable-light: rgba(24, 54, 78, 0.45);
  --apf-color-text-secondary-dark: rgba(189, 215, 236, 0.7);
  --apf-color-text-on-notice: #0e202f;
  --apf-color-text-secondary-light: rgba(14, 32, 47, 0.75);
  --apf-color-text-on-success: #0e202f;
  --apf-color-text-primary-dark-nc: #0e202f;
  --apf-color-text-on-a2: #ffffff;
  --apf-color-text-titles: #b1cfe7;
  --apf-color-text-on-warning: #0e202f;
  --apf-color-text-primary-light-nc: #ffffff;
  --apf-color-text-on-primary: #0e202f;
  --apf-color-text-disable-dark: rgba(163, 199, 228, 0.6);
  --apf-color-text-primary-light: #0e202f;
  --apf-color-text-on-a6: #0e202f;
  --apf-color-text-on-secondary: #0e202f;
  --apf-color-text-on-a1: #0e202f;
  --apf-color-text-on-a5: #0e202f;
  --apf-color-text-on-complementary: #0e202f;
  --apf-color-text-on-info: #0e202f;
  --apf-color-text-primary-dark: #e4eef7;
  --apf-color-transparent-transparent-light-800: rgba(0, 0, 0, 0.4);
  --apf-color-transparent-transparent-dark-500: rgba(255, 255, 255, 0.2);
  --apf-color-transparent-transparent-light-500: rgba(0, 0, 0, 0.2);
  --apf-color-transparent-transparent-dark-800: rgba(255, 255, 255, 0.4);
  --apf-color-transparent-transparent-dark-200: rgba(255, 255, 255, 0.1);
  --apf-color-transparent-transparent-light-100: rgba(0, 0, 0, 0.05);
  --apf-color-transparent-transparent-dark-100: rgba(255, 255, 255, 0.05);
  --apf-color-transparent-transparent-light-200: rgba(0, 0, 0, 0.1);
  --apf-tokens-global-border-xxl: 6;
  --apf-tokens-global-border-none: 0;
  --apf-tokens-global-border-md: 2;
  --apf-tokens-global-border-xl: 4;
  --apf-tokens-global-border-sm: 1;
  --apf-tokens-global-border-lg: 3;
  --apf-tokens-global-font-family-primary: Merriweather;
  --apf-tokens-global-font-family-secondary: Nunito Sans;
  --apf-tokens-global-font-size-1xl: 26;
  --apf-tokens-global-font-size-sm: 18;
  --apf-tokens-global-font-size-lg: 22;
  --apf-tokens-global-font-size-md: 20;
  --apf-tokens-global-font-size-xl: 24;
  --apf-tokens-global-font-size-2xs: 12;
  --apf-tokens-global-font-size-xs: 16;
  --apf-tokens-global-font-size-2xl: 34;
  --apf-tokens-global-font-size-3xl: 40;
  --apf-tokens-global-font-size-1xs: 14;
  --apf-tokens-global-line-height-1xl: 26;
  --apf-tokens-global-line-height-lg: 22;
  --apf-tokens-global-line-height-4xl: 40;
  --apf-tokens-global-line-height-3xl: 38;
  --apf-tokens-global-line-height-md: 20;
  --apf-tokens-global-line-height-xs: 16;
  --apf-tokens-global-line-height-2xs: 12;
  --apf-tokens-global-line-height-2xl: 28;
  --apf-tokens-global-line-height-1xs: 14;
  --apf-tokens-global-line-height-sm: 18;
  --apf-tokens-global-line-height-5xl: 44;
  --apf-tokens-global-line-height-xl: 24;
  --apf-tokens-global-radius-xl: 16;
  --apf-tokens-global-radius-none: 0;
  --apf-tokens-global-radius-lg: 12;
  --apf-tokens-global-radius-xxl: 20;
  --apf-tokens-global-radius-sm: 4;
  --apf-tokens-global-radius-full: 123;
  --apf-tokens-global-radius-md: 8;
  --apf-tokens-global-size-xl: 32;
  --apf-tokens-global-size-xxl: 40;
  --apf-tokens-global-size-xxs: 12;
  --apf-tokens-global-size-lg: 24;
  --apf-tokens-global-size-md: 20;
  --apf-tokens-global-size-xs: 16;
  --apf-tokens-global-spacing-none: 0;
  --apf-tokens-global-spacing-1xl: 48;
  --apf-tokens-global-spacing-lg: 32;
  --apf-tokens-global-spacing-2xs: 4;
  --apf-tokens-global-spacing-3xl: 64;
  --apf-tokens-global-spacing-xl: 40;
  --apf-tokens-global-spacing-sm: 16;
  --apf-tokens-global-spacing-2xl: 56;
  --apf-tokens-global-spacing-xs: 12;
  --apf-tokens-global-spacing-md: 24;
  --apf-tokens-global-spacing-1xs: 8;
  --apf-tokens-components-components-alert-border-radius: 20;
  --apf-tokens-components-components-alert-border-width: 1;
  --apf-tokens-components-components-alert-border-color: #224d70;
  --apf-tokens-components-components-alert-background: #0e202f;
  --apf-tokens-components-components-alert-help-background: #16334b;
  --apf-tokens-components-components-alert-badge-border-radius: 123;
  --apf-tokens-components-components-alert-badge-foreground-color: #0e202f;
  --apf-tokens-components-components-alert-badge-background: #e38879;
  --apf-tokens-components-components-bottom-bar-light-background: #0e202f;
  --apf-tokens-components-components-bottom-bar-secondary-background: #b34d3d;
  --apf-tokens-components-components-bubbles-xl-border-radius: 8;
  --apf-tokens-components-components-bubbles-xs-border-radius: 4;
  --apf-tokens-components-components-button-focus-border-color: #ffffff;
  --apf-tokens-components-components-button-ghost-complementary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-complementary-active-background: #742116;
  --apf-tokens-components-components-button-ghost-complementary-default-border-color: #e38879;
  --apf-tokens-components-components-button-ghost-complementary-default-foreground-color: #e38879;
  --apf-tokens-components-components-button-ghost-complementary-disabled-foreground-color: #949494;
  --apf-tokens-components-components-button-ghost-complementary-disabled-border-color: #4d4d4d;
  --apf-tokens-components-components-button-ghost-primary-active-background: #4c3430;
  --apf-tokens-components-components-button-ghost-primary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-primary-default-foreground-color: #ce7b6e;
  --apf-tokens-components-components-button-ghost-primary-default-border-color: #ce7b6e;
  --apf-tokens-components-components-button-ghost-primary-disabled-border-color: #4d4d4d;
  --apf-tokens-components-components-button-ghost-primary-disabled-foreground-color: #949494;
  --apf-tokens-components-components-button-ghost-secondary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-secondary-active-background: #102537;
  --apf-tokens-components-components-button-ghost-secondary-default-border-color: #8db9dd;
  --apf-tokens-components-components-button-ghost-secondary-default-foreground-color: #8db9dd;
  --apf-tokens-components-components-button-ghost-secondary-disabled-foreground-color: #949494;
  --apf-tokens-components-components-button-ghost-secondary-disabled-border-color: #4d4d4d;
  --apf-tokens-components-components-button-solid-complementary-active-background: #f7d9d4;
  --apf-tokens-components-components-button-solid-complementary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-default-foreground-color: #0e202f;
  --apf-tokens-components-components-button-solid-complementary-default-background: #e38879;
  --apf-tokens-components-components-button-solid-complementary-disabled-foreground-color: #cccccc;
  --apf-tokens-components-components-button-solid-complementary-disabled-background: #4d4d4d;
  --apf-tokens-components-components-button-solid-complementary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-complementary-focus-background: #e38879;
  --apf-tokens-components-components-button-solid-primary-foreground-color: #e4eef7;
  --apf-tokens-components-components-button-solid-primary-active-background: #f5f0ef;
  --apf-tokens-components-components-button-solid-primary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-default-foreground-color: #0e202f;
  --apf-tokens-components-components-button-solid-primary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-default-background: #ce7b6e;
  --apf-tokens-components-components-button-solid-primary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-disabled-background: #4d4d4d;
  --apf-tokens-components-components-button-solid-primary-disabled-foreground-color: #cccccc;
  --apf-tokens-components-components-button-solid-primary-focus-background: #ce7b6e;
  --apf-tokens-components-components-button-solid-primary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-primary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-active-background: #b1cfe7;
  --apf-tokens-components-components-button-solid-secondary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-default-background: #8db9dd;
  --apf-tokens-components-components-button-solid-secondary-default-foreground-color: #0e202f;
  --apf-tokens-components-components-button-solid-secondary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-disabled-background: #4d4d4d;
  --apf-tokens-components-components-button-solid-secondary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-disabled-foreground-color: #cccccc;
  --apf-tokens-components-components-button-solid-secondary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-secondary-focus-background: #8db9dd;
  --apf-tokens-components-components-button-text-button-dark-foreground-color: #e4eef7;
  --apf-tokens-components-components-button-text-button-dark-active-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-button-text-button-dark-active-border-color: #e4eef7;
  --apf-tokens-components-components-button-text-button-dark-nc-foreground-color: #0e202f;
  --apf-tokens-components-components-button-text-button-dark-nc-active-border-color: #0e202f;
  --apf-tokens-components-components-button-text-button-light-foreground-color: #0e202f;
  --apf-tokens-components-components-button-text-button-light-active-border-color: #0e202f;
  --apf-tokens-components-components-button-text-button-light-active-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-button-text-button-light-disabled-foreground-color: #4d4d4d;
  --apf-tokens-components-components-button-text-button-light-nc-foreground-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-nc-active-border-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-nc-disabled-foreground-color: #4d4d4d;
  --apf-tokens-components-components-calendar-day-border-width: 3;
  --apf-tokens-components-components-calendar-day-border-radius: 12;
  --apf-tokens-components-components-calendar-day-available-foreground-color: #e4eef7;
  --apf-tokens-components-components-calendar-day-available-background: #0e202f;
  --apf-tokens-components-components-calendar-day-available-border-color: #0e202f;
  --apf-tokens-components-components-calendar-day-book-border-color: #396a92;
  --apf-tokens-components-components-calendar-day-book-foreground-color: #e4eef7;
  --apf-tokens-components-components-calendar-day-book-background: #396a92;
  --apf-tokens-components-components-calendar-day-book-select-foreground-color: #e4eef7;
  --apf-tokens-components-components-calendar-day-book-select-border-color: #8db9dd;
  --apf-tokens-components-components-calendar-day-book-select-background: #396a92;
  --apf-tokens-components-components-calendar-day-book-today-background: #396a92;
  --apf-tokens-components-components-calendar-day-book-today-foreground-color: #e38879;
  --apf-tokens-components-components-calendar-day-book-today-border-color: #e38879;
  --apf-tokens-components-components-calendar-day-book-today-select-background: #396a92;
  --apf-tokens-components-components-calendar-day-book-today-select-foreground-color: #e38879;
  --apf-tokens-components-components-calendar-day-book-today-select-border-color: #8db9dd;
  --apf-tokens-components-components-calendar-day-inactive-border-color: #0e202f;
  --apf-tokens-components-components-calendar-day-inactive-foreground-color: rgba(255, 255, 255, 0.2);
  --apf-tokens-components-components-calendar-day-inactive-background: #0e202f;
  --apf-tokens-components-components-calendar-day-non-available-foreground-color: #0e202f;
  --apf-tokens-components-components-calendar-day-non-available-background: #ff6961;
  --apf-tokens-components-components-calendar-day-non-available-border-color: #ff6961;
  --apf-tokens-components-components-calendar-day-select-foreground-color: #0e202f;
  --apf-tokens-components-components-calendar-day-select-background: #8db9dd;
  --apf-tokens-components-components-calendar-day-select-border-color: #8db9dd;
  --apf-tokens-components-components-calendar-day-today-foreground-color: #e38879;
  --apf-tokens-components-components-calendar-day-today-border-color: #e38879;
  --apf-tokens-components-components-calendar-day-today-background: #0e202f;
  --apf-tokens-components-components-calendar-day-today-select-foreground-color: #e38879;
  --apf-tokens-components-components-calendar-day-today-select-background: #0e202f;
  --apf-tokens-components-components-calendar-day-today-select-border-color: #8db9dd;
  --apf-tokens-components-components-checkbox-background: #0e202f;
  --apf-tokens-components-components-checkbox-border-radius: 4;
  --apf-tokens-components-components-checkbox-border-width: 1;
  --apf-tokens-components-components-checkbox-checked-background: #e4eef7;
  --apf-tokens-components-components-checkbox-checked-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-checked-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-checked-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-checkbox-checked-disabled-foreground-color: rgba(255, 255, 255, 0.4);
  --apf-tokens-components-components-checkbox-checked-disabled-background: rgba(255, 255, 255, 0.2);
  --apf-tokens-components-components-checkbox-checked-disabled-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-checked-disabled-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-checkbox-disabled-border-color: rgba(255, 255, 255, 0.4);
  --apf-tokens-components-components-checkbox-disabled-background: rgba(255, 255, 255, 0.2);
  --apf-tokens-components-components-checkbox-disabled-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-disabled-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-checkbox-indeterminate-background: rgba(255, 255, 255, 0.2);
  --apf-tokens-components-components-checkbox-indeterminate-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-indeterminate-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-indeterminate-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-checkbox-unchecked-border-color: #e4eef7;
  --apf-tokens-components-components-checkbox-unchecked-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-unchecked-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-checkbox-unchecked-disabled-border-color: rgba(255, 255, 255, 0.4);
  --apf-tokens-components-components-checkbox-unchecked-disabled-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-checkbox-unchecked-disabled-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-chip-border-radius: 12;
  --apf-tokens-components-components-chip-default-border-width: 1;
  --apf-tokens-components-components-chip-focus-border-width: 3;
  --apf-tokens-components-components-data-dark-label-foreground-color: #262626;
  --apf-tokens-components-components-data-dark-value-foreground-color: #0e202f;
  --apf-tokens-components-components-data-light-label-foreground-color: #9c9c9c;
  --apf-tokens-components-components-data-light-value-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-border-radius: 12;
  --apf-tokens-components-components-data-card-light-border-color: #4b87b9;
  --apf-tokens-components-components-data-card-light-active-background: #102537;
  --apf-tokens-components-components-data-card-light-active-border-color: #f5f8fa;
  --apf-tokens-components-components-data-card-light-active-border-width: 2;
  --apf-tokens-components-components-data-card-light-default-border-width: 1;
  --apf-tokens-components-components-data-card-light-default-data-card-light-background: #0e202f;
  --apf-tokens-components-components-data-card-light-default-icons-foreground-color: #e38879;
  --apf-tokens-components-components-data-card-light-default-icons-2-foreground-color: #e38879;
  --apf-tokens-components-components-data-card-light-default-section-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-light-default-section-2-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-light-default-subsection-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-light-default-subsection-2-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-light-default-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-data-card-light-default-subtitle-2-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-data-card-light-default-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-light-default-title-2-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-light-inactive-border-color: #224d70;
  --apf-tokens-components-components-data-card-light-inactive-background: #0e202f;
  --apf-tokens-components-components-data-card-light-inactive-icons-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-section-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-subsection-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-subtitle-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-text-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-title-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-active-border-color: #f5f8fa;
  --apf-tokens-components-components-data-card-primary-active-background: #18364e;
  --apf-tokens-components-components-data-card-primary-active-border-width: 2;
  --apf-tokens-components-components-data-card-primary-default-background: #18364e;
  --apf-tokens-components-components-data-card-primary-default-border-width: 1;
  --apf-tokens-components-components-data-card-primary-default-icons-foreground-color: #e38879;
  --apf-tokens-components-components-data-card-primary-default-icons-2-foreground-color: #e38879;
  --apf-tokens-components-components-data-card-primary-default-section-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-primary-default-section-2-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-primary-default-subsection-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-primary-default-subsection-2-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-primary-default-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-data-card-primary-default-subtitle-2-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-data-card-primary-default-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-primary-default-title-2-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-primary-inactive-background: #102537;
  --apf-tokens-components-components-data-card-primary-inactive-icons-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-section-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-subsection-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-subtitle-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-text-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-title-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-border-color: #b34d3d;
  --apf-tokens-components-components-data-card-secondary-active-border-color: #f5f8fa;
  --apf-tokens-components-components-data-card-secondary-active-background: #4c3430;
  --apf-tokens-components-components-data-card-secondary-active-border-width: 2;
  --apf-tokens-components-components-data-card-secondary-default-background: #4c3430;
  --apf-tokens-components-components-data-card-secondary-default-border-width: 1;
  --apf-tokens-components-components-data-card-secondary-default-icons-foreground-color: #e38879;
  --apf-tokens-components-components-data-card-secondary-default-section-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-secondary-default-subsection-foreground-color: #b1cfe7;
  --apf-tokens-components-components-data-card-secondary-default-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-data-card-secondary-default-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-data-card-secondary-inactive-background: #332928;
  --apf-tokens-components-components-data-card-secondary-inactive-icons-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-section-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-subsection-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-subtitle-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-text-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-title-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-document-border-width: 1;
  --apf-tokens-components-components-document-border-radius: 12;
  --apf-tokens-components-components-document-border-color: #224d70;
  --apf-tokens-components-components-document-light-background: #0e202f;
  --apf-tokens-components-components-document-medium-background: #18364e;
  --apf-tokens-components-components-document-simple-border-radius: 16;
  --apf-tokens-components-components-document-simple-border-color: #224d70;
  --apf-tokens-components-components-document-simple-border-width: 1;
  --apf-tokens-components-components-document-simple-dark-background: #8db9dd;
  --apf-tokens-components-components-document-simple-light-background: #0e202f;
  --apf-tokens-components-components-document-simple-medium-background: #18364e;
  --apf-tokens-components-components-empty-state-alert-background: #4c3430;
  --apf-tokens-components-components-empty-state-alert-icon-foreground-color: #ff6961;
  --apf-tokens-components-components-empty-state-default-background: #102537;
  --apf-tokens-components-components-empty-state-default-icon-foreground-color: #e38879;
  --apf-tokens-components-components-header-content-border-width: 1;
  --apf-tokens-components-components-header-content-background: #0e202f;
  --apf-tokens-components-components-header-content-border-color: #224d70;
  --apf-tokens-components-components-header-content-foreground-color: #e9e9e2;
  --apf-tokens-components-components-header-overlay-background: #18364e;
  --apf-tokens-components-components-header-overlay-foreground-color: #e4eef7;
  --apf-tokens-components-components-home-indicator-line-dark-foreground-color: #0e202f;
  --apf-tokens-components-components-home-indicator-line-light-foreground-color: #e4eef7;
  --apf-tokens-components-components-icon-button-medium-active-background: rgba(255, 255, 255, 0.1);
  --apf-tokens-components-components-icon-button-medium-active-foreground-color: #e4eef7;
  --apf-tokens-components-components-icon-button-medium-default-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-icon-button-medium-default-foreground-color: #e4eef7;
  --apf-tokens-components-components-icon-button-medium-disabled-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-icon-button-medium-disabled-foreground-color: #cccccc;
  --apf-tokens-components-components-icon-button-medium-focus-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-info-card-border-radius: 12;
  --apf-tokens-components-components-info-card-border-width: 1;
  --apf-tokens-components-components-info-card-border-color: #224d70;
  --apf-tokens-components-components-info-card-a1-info-card-a1-background: #a3e5c3;
  --apf-tokens-components-components-info-card-a1-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a1-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a1-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-a4-background: #a6ecfc;
  --apf-tokens-components-components-info-card-a4-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a4-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a4-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-a6-background: #fef8dd;
  --apf-tokens-components-components-info-card-a6-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a6-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a6-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-dark-primary-background: #8db9dd;
  --apf-tokens-components-components-info-card-dark-primary-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-dark-primary-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-dark-primary-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-dark-secondary-background: #ce7b6e;
  --apf-tokens-components-components-info-card-dark-secondary-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-dark-secondary-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-dark-secondary-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-light-background: #0e202f;
  --apf-tokens-components-components-info-card-light-division-stroke-border-color: #b2b2b2;
  --apf-tokens-components-components-info-card-light-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-light-icons-foreground-color: #e38879;
  --apf-tokens-components-components-info-card-light-section-foreground-color: #b1cfe7;
  --apf-tokens-components-components-info-card-light-sub-section-foreground-color: #b1cfe7;
  --apf-tokens-components-components-info-card-light-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-info-card-light-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-info-step-bubble-background: #f5f8fa;
  --apf-tokens-components-components-info-step-bubble-foreground-color: #0e202f;
  --apf-tokens-components-components-info-step-bubble-border-radius: 123;
  --apf-tokens-components-components-info-step-line-foreground-color: rgba(255, 255, 255, 0.2);
  --apf-tokens-components-components-info-step-line-border-width: 1;
  --apf-tokens-components-components-info-step-number-foreground-color: #d4e4f2;
  --apf-tokens-components-components-info-step-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-info-step-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-input-border-width: 1;
  --apf-tokens-components-components-input-background: #0e202f;
  --apf-tokens-components-components-input-border-radius: 8;
  --apf-tokens-components-components-input-active-border-color: #f5f8fa;
  --apf-tokens-components-components-input-active-background: #102537;
  --apf-tokens-components-components-input-default-border-color: #66a1d1;
  --apf-tokens-components-components-input-error-border-color: #ff6961;
  --apf-tokens-components-components-input-filled-border-color: #66a1d1;
  --apf-tokens-components-components-label-border-radius: 20;
  --apf-tokens-components-components-label-border-width: 1;
  --apf-tokens-components-components-label-light-a1-border-color: #0e202f;
  --apf-tokens-components-components-label-light-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a1-background: #a3e5c3;
  --apf-tokens-components-components-label-light-a4-background: #a6ecfc;
  --apf-tokens-components-components-label-light-a4-border-color: #0e202f;
  --apf-tokens-components-components-label-light-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a6-border-color: #0e202f;
  --apf-tokens-components-components-label-light-a6-background: #fef8dd;
  --apf-tokens-components-components-label-light-error-border-color: #ff6961;
  --apf-tokens-components-components-label-light-error-foreground-color: #e4eef7;
  --apf-tokens-components-components-label-light-error-background: #a31a00;
  --apf-tokens-components-components-label-light-info-background: #16334b;
  --apf-tokens-components-components-label-light-info-border-color: #6398c5;
  --apf-tokens-components-components-label-light-info-foreground-color: #e4eef7;
  --apf-tokens-components-components-label-light-primary-background: #8db9dd;
  --apf-tokens-components-components-label-light-primary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-primary-border-color: #0e202f;
  --apf-tokens-components-components-label-light-secondary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-secondary-background: #e2d2d0;
  --apf-tokens-components-components-label-light-secondary-border-color: #0e202f;
  --apf-tokens-components-components-label-light-success-foreground-color: #e4eef7;
  --apf-tokens-components-components-label-light-success-border-color: #3bc47c;
  --apf-tokens-components-components-label-light-success-background: #0f3321;
  --apf-tokens-components-components-label-light-warning-border-color: #ffcc00;
  --apf-tokens-components-components-label-light-warning-background: #ffcc00;
  --apf-tokens-components-components-label-light-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a1-background: #a3e5c3;
  --apf-tokens-components-components-label-middle-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a4-background: #a6ecfc;
  --apf-tokens-components-components-label-middle-a6-background: #fef8dd;
  --apf-tokens-components-components-label-middle-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-error-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-error-background: #ffb6a8;
  --apf-tokens-components-components-label-middle-info-background: #a8c6ff;
  --apf-tokens-components-components-label-middle-info-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-primary-background: #b1cfe7;
  --apf-tokens-components-components-label-middle-primary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-secondary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-secondary-background: #e2d2d0;
  --apf-tokens-components-components-label-middle-success-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-success-background: #bcebd4;
  --apf-tokens-components-components-label-middle-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-warning-background: #ffcc00;
  --apf-tokens-components-components-label-solid-a1-background: #a3e5c3;
  --apf-tokens-components-components-label-solid-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-a4-background: #a6ecfc;
  --apf-tokens-components-components-label-solid-a6-background: #fef8dd;
  --apf-tokens-components-components-label-solid-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-error-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-error-background: #ff6961;
  --apf-tokens-components-components-label-solid-info-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-info-background: #6398c5;
  --apf-tokens-components-components-label-solid-primary-background: #f5f8fa;
  --apf-tokens-components-components-label-solid-primary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-secondary-background: #f5f0ef;
  --apf-tokens-components-components-label-solid-secondary-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-success-background: #3bc47c;
  --apf-tokens-components-components-label-solid-success-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-warning-background: #ffcc00;
  --apf-tokens-components-components-menu-list-boxed-border-radius: 12;
  --apf-tokens-components-components-menu-list-default-focus-border-width: 3;
  --apf-tokens-components-components-nav-item-dark-border-radius: 8;
  --apf-tokens-components-components-nav-item-dark-active-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-nav-item-dark-active-foreground-color: #0e202f;
  --apf-tokens-components-components-nav-item-dark-default-background: #8db9dd;
  --apf-tokens-components-components-nav-item-dark-default-foreground-color: rgba(14, 32, 47, 0.75);
  --apf-tokens-components-components-nav-item-light-border-radius: 8;
  --apf-tokens-components-components-nav-item-light-active-foreground-color: #e38879;
  --apf-tokens-components-components-nav-item-light-active-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-nav-item-light-default-background: #0e202f;
  --apf-tokens-components-components-nav-item-light-default-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-notification-border-width: 1;
  --apf-tokens-components-components-notification-border-radius: 16;
  --apf-tokens-components-components-notification-complementary-border-color: #f3c5be;
  --apf-tokens-components-components-notification-complementary-default-background: #742116;
  --apf-tokens-components-components-notification-complementary-solid-background: #e38879;
  --apf-tokens-components-components-notification-error-border-color: #ff6961;
  --apf-tokens-components-components-notification-error-default-background: #a31a00;
  --apf-tokens-components-components-notification-error-solid-background: #ff6961;
  --apf-tokens-components-components-notification-info-border-color: #6398c5;
  --apf-tokens-components-components-notification-info-default-background: #16334b;
  --apf-tokens-components-components-notification-info-solid-background: #6398c5;
  --apf-tokens-components-components-notification-primary-border-color: #8db9dd;
  --apf-tokens-components-components-notification-primary-default-background: #224d70;
  --apf-tokens-components-components-notification-primary-solid-background: #8db9dd;
  --apf-tokens-components-components-notification-secondary-border-color: #f5f0ef;
  --apf-tokens-components-components-notification-secondary-default-background: #9c4335;
  --apf-tokens-components-components-notification-secondary-solid-background: #ce7b6e;
  --apf-tokens-components-components-notification-success-border-color: #3bc47c;
  --apf-tokens-components-components-notification-success-default-background: #0f3321;
  --apf-tokens-components-components-notification-success-solid-background: #3bc47c;
  --apf-tokens-components-components-notification-warning-border-color: #ffcc00;
  --apf-tokens-components-components-notification-warning-default-background: #423500;
  --apf-tokens-components-components-notification-warning-solid-background: #ffcc00;
  --apf-tokens-components-components-notification-compact-border-radius: 8;
  --apf-tokens-components-components-notification-compact-border-width: 1;
  --apf-tokens-components-components-notification-compact-maintenance-border-color: #ffcc00;
  --apf-tokens-components-components-notification-compact-maintenance-default-background-globe: #ffcc00;
  --apf-tokens-components-components-notification-compact-maintenance-default-background: #332900;
  --apf-tokens-components-components-notification-compact-notice-border-color: #6398c5;
  --apf-tokens-components-components-notification-compact-notice-default-background: #12283b;
  --apf-tokens-components-components-notification-compact-notice-default-background-globe: #24537a;
  --apf-tokens-components-components-notification-globe-border-width: 1;
  --apf-tokens-components-components-notification-globe-border-radius: 16;
  --apf-tokens-components-components-notification-globe-info-border-color: #6398c5;
  --apf-tokens-components-components-notification-globe-info-default-background: #12283b;
  --apf-tokens-components-components-notification-globe-info-default-background-globe: #24537a;
  --apf-tokens-components-components-notification-globe-warning-border-color: #ffcc00;
  --apf-tokens-components-components-notification-globe-warning-default-background-globe: #ffcc00;
  --apf-tokens-components-components-notification-globe-warning-default-background: #332900;
  --apf-tokens-components-components-overlay-background: #0e202f;
  --apf-tokens-components-components-process-background: #18364e;
  --apf-tokens-components-components-screen-bar-border-radius: 0;
  --apf-tokens-components-components-screen-bar-dark-foreground-color: #0e202f;
  --apf-tokens-components-components-screen-bar-dark-background: #8db9dd;
  --apf-tokens-components-components-screen-bar-light-border-color: #224d70;
  --apf-tokens-components-components-screen-bar-light-foreground-color: #e4eef7;
  --apf-tokens-components-components-screen-bar-light-border-width: 1;
  --apf-tokens-components-components-screen-bar-light-background: #0e202f;
  --apf-tokens-components-components-screen-bar-medium-foreground-color: #e4eef7;
  --apf-tokens-components-components-screen-bar-medium-background: #18364e;
  --apf-tokens-components-components-search-border-radius: 20;
  --apf-tokens-components-components-search-box-border-color: #949494;
  --apf-tokens-components-components-search-box-background: #0e202f;
  --apf-tokens-components-components-search-box-border-radius: 12;
  --apf-tokens-components-components-search-box-default-border-width: 2;
  --apf-tokens-components-components-search-box-focus-border-width: 3;
  --apf-tokens-components-components-slider-border-radius: 8;
  --apf-tokens-components-components-slider-default-slider-background: #18364e;
  --apf-tokens-components-components-slider-default-bar-foreground-color: #949494;
  --apf-tokens-components-components-slider-disabled-background: #666666;
  --apf-tokens-components-components-slider-disabled-bar-foreground-color: #333333;
  --apf-tokens-components-components-slider-filled-slider-filled-background: #e38879;
  --apf-tokens-components-components-slider-filled-bar-foreground-color: #222222;
  --apf-tokens-components-components-slider-slider-thumb-border-width: 4;
  --apf-tokens-components-components-slider-slider-thumb-background: #e38879;
  --apf-tokens-components-components-slider-slider-thumb-border-color: #ffffff;
  --apf-tokens-components-components-slider-slider-thumb-border-radius: 123;
  --apf-tokens-components-components-slider-slider-thumb-disabled-background: #666666;
  --apf-tokens-components-components-slider-text-foreground-color: #e4eef7;
  --apf-tokens-components-components-status-bar-foreground-color: #e4eef7;
  --apf-tokens-components-components-status-bar-light-background: #0e202f;
  --apf-tokens-components-components-status-bar-primary-background: #18364e;
  --apf-tokens-components-components-step-process-dark-background: #8db9dd;
  --apf-tokens-components-components-step-process-light-background: #0e202f;
  --apf-tokens-components-components-step-process-medium-background: #18364e;
  --apf-tokens-components-components-subtitles-dark-foreground-color: rgba(14, 32, 47, 0.75);
  --apf-tokens-components-components-subtitles-light-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-tab-dark-border-width: 1;
  --apf-tokens-components-components-tab-dark-disabled-border-color: #742116;
  --apf-tokens-components-components-tab-dark-disabled-foreground-color: rgba(14, 32, 47, 0.75);
  --apf-tokens-components-components-tab-dark-disabled-icons-foreground-color: rgba(14, 32, 47, 0.75);
  --apf-tokens-components-components-tab-dark-enabled-foreground-color: #0e202f;
  --apf-tokens-components-components-tab-dark-enabled-border-color: #742116;
  --apf-tokens-components-components-tab-dark-enabled-icons-foreground-color: #0e202f;
  --apf-tokens-components-components-tab-light-border-width: 3;
  --apf-tokens-components-components-tab-light-disabled-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-tab-light-disabled-border-color: #396a92;
  --apf-tokens-components-components-tab-light-disabled-icons-foreground-color: rgba(163, 199, 228, 0.6);
  --apf-tokens-components-components-tab-light-enabled-border-color: #e38879;
  --apf-tokens-components-components-tab-light-enabled-foreground-color: #e4eef7;
  --apf-tokens-components-components-tab-light-enabled-icons-foreground-color: #e38879;
  --apf-tokens-components-components-timeline-bubble-background: #f5f8fa;
  --apf-tokens-components-components-timeline-line-foreground-color: #e4eef7;
  --apf-tokens-components-components-timeline-line-border-width: 1;
  --apf-tokens-components-components-timeline-number-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-timeline-subtitle-foreground-color: #e4eef7;
  --apf-tokens-components-components-timeline-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-titles-dark-foreground-color: #0e202f;
  --apf-tokens-components-components-titles-light-foreground-color: #e4eef7;
  --apf-tokens-components-components-toast-border-radius: 8;
  --apf-tokens-components-components-tooltip-border-radius: 8;
  --apf-tokens-components-components-top-home-bar-dark-background: #18364e;
  --apf-tokens-components-components-top-home-bar-light-foreground-color: #e4eef7;
  --apf-tokens-components-components-top-home-bar-light-background: #0e202f;
  --apf-tokens-components-components-top-notification-default-foreground-color: #0e202f;
  --apf-tokens-components-components-top-notification-default-background: #ffe266;
  --apf-tokens-components-components-top-section-bar-foreground-color: #e4eef7;
  --apf-tokens-components-components-top-section-bar-light-background: #0e202f;
  --apf-tokens-components-components-top-section-bar-primary-background: #18364e;
  --apf-tokens-components-components-top-section-bar-secondary-background: #9c4335;
  --apf-tokens-components-components-upload-file-background: #0e202f;
  --apf-tokens-components-components-upload-file-border-width: 4;
  --apf-tokens-components-components-upload-file-border-color: #4b87b9;
  --apf-tokens-components-components-upload-file-border-radius: 8;
  --apf-tokens-components-components-upload-file-error-border-color: #ff6961;
  --apf-tokens-components-components-user-header-background: #18364e;
  --apf-tokens-components-components-value-card-border-radius: 8;
  --apf-tokens-components-components-value-card-border-width: 1;
  --apf-tokens-components-components-value-card-icons-foreground-color: #e38879;
  --apf-tokens-components-components-value-card-negative-background: #a31a00;
  --apf-tokens-components-components-value-card-negative-border-color: #ff6961;
  --apf-tokens-components-components-value-card-negative-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-value-card-negative-title-foreground-color: #ff6961;
  --apf-tokens-components-components-value-card-normal-background: #0e202f;
  --apf-tokens-components-components-value-card-normal-border-color: #224d70;
  --apf-tokens-components-components-value-card-normal-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-value-card-normal-title-foreground-color: #e4eef7;
  --apf-tokens-components-components-value-card-positive-background: #0f3321;
  --apf-tokens-components-components-value-card-positive-border-color: #3bc47c;
  --apf-tokens-components-components-value-card-positive-subtitle-foreground-color: rgba(189, 215, 236, 0.7);
  --apf-tokens-components-components-value-card-positive-title-foreground-color: #3bc47c;
  --apf-tokens-components-components-value-card-primary-background: #8db9dd;
  --apf-tokens-components-components-value-card-primary-subtitle-foreground-color: rgba(14, 32, 47, 0.75);
  --apf-tokens-components-components-value-card-primary-title-foreground-color: #0e202f;
}
