:root {
  --apf-color-alternative-a2: #f5852a;
  --apf-color-alternative-a3: #0266b3;
  --apf-color-alternative-a1: #54cf8f;
  --apf-color-alternative-a5: #ffce00;
  --apf-color-alternative-a4: #42d7f8;
  --apf-color-alternative-a6: #fae47a;
  --apf-color-background-background: #ffffff;
  --apf-color-complementary-complementary-500: #efb2a9;
  --apf-color-complementary-complementary-600: #e78c7e;
  --apf-color-complementary-complementary-900: #ac3220;
  --apf-color-complementary-complementary-700: #d73f28;
  --apf-color-complementary-complementary-100: #fdf4f2;
  --apf-color-complementary-complementary-800: #c23924;
  --apf-color-complementary-complementary-200: #fbece9;
  --apf-color-complementary-complementary-300: #f7d9d4;
  --apf-color-complementary-complementary-1000: #812518;
  --apf-color-complementary-complementary-default: #a6301e;
  --apf-color-complementary-complementary-400: #f3c5be;
  --apf-color-institutional-red-pr: #ce132e;
  --apf-color-institutional-white: #ffffff;
  --apf-color-institutional-portafirmas: #c32828;
  --apf-color-institutional-red-cc: #c33400;
  --apf-color-institutional-blue-ed: #0e3062;
  --apf-color-institutional-grey-clave: #575757;
  --apf-color-institutional-yellow-pr: #ffcc00;
  --apf-color-institutional-blue-ng: #034ea2;
  --apf-color-institutional-grey-ng: #58595b;
  --apf-color-institutional-black-pr: #000000;
  --apf-color-institutional-yellow-ng: #fff200;
  --apf-color-institutional-orange-clave: #ff5a00;
  --apf-color-link-link-light: #a6301e;
  --apf-color-link-link-alternative: #a63df9;
  --apf-color-neutral-grey-1: #fcfcfb;
  --apf-color-neutral-grey-6: #e5e5e5;
  --apf-color-neutral-grey-4: #f4f4f4;
  --apf-color-neutral-grey-3: #f5f5f5;
  --apf-color-neutral-grey-2: #f9f9f9;
  --apf-color-neutral-grey-80: #313131;
  --apf-color-neutral-grey-30: #ababab;
  --apf-color-neutral-grey-90: #161616;
  --apf-color-neutral-grey-8: #c9c9c9;
  --apf-color-neutral-grey-100: #000000;
  --apf-color-neutral-grey-60: #5b5b5b;
  --apf-color-neutral-grey-40: #929292;
  --apf-color-neutral-grey-50: #767676;
  --apf-color-neutral-grey-70: #464646;
  --apf-color-neutral-grey-5: #f1f1f1;
  --apf-color-neutral-grey-0: #ffffff;
  --apf-color-primary-primary-100: #f9fafb;
  --apf-color-primary-primary-default-nc: #224d70;
  --apf-color-primary-primary-400: #d0dae2;
  --apf-color-primary-primary-500: #b0c1ce;
  --apf-color-primary-primary-900: #17334a;
  --apf-color-primary-primary-1000: #0e202f;
  --apf-color-primary-primary-200: #eff3f5;
  --apf-color-primary-primary-600: #718fa8;
  --apf-color-primary-primary-700: #224d70;
  --apf-color-primary-primary-default: #224d70;
  --apf-color-primary-primary-300: #e0e6eb;
  --apf-color-primary-primary-800: #1b3f5c;
  --apf-color-secondary-secondary-300: #ede5e3;
  --apf-color-secondary-secondary-default: #b44d3d;
  --apf-color-secondary-secondary-900: #6e3026;
  --apf-color-secondary-secondary-200: #f5f0ef;
  --apf-color-secondary-secondary-100: #fbf9f9;
  --apf-color-secondary-secondary-800: #9c4335;
  --apf-color-secondary-secondary-500: #d2bab7;
  --apf-color-secondary-secondary-700: #b34d3d;
  --apf-color-secondary-secondary-400: #e2d2d0;
  --apf-color-secondary-secondary-600: #b8938e;
  --apf-color-secondary-secondary-1000: #4c211a;
  --apf-color-semantic-success-300: #b0f8e6;
  --apf-color-semantic-information-100: #ebf2fa;
  --apf-color-semantic-warning: #ffcc00;
  --apf-color-semantic-error-300: #ffb6a8;
  --apf-color-semantic-information-300: #a8c6ff;
  --apf-color-semantic-error: #ab1228;
  --apf-color-semantic-information: #265b8f;
  --apf-color-semantic-success-100: #e8fdf8;
  --apf-color-semantic-maintenance-300: #ffeea8;
  --apf-color-semantic-maintenance-200: #fff5cc;
  --apf-color-semantic-notice-100: #ebf2fa;
  --apf-color-semantic-maintenance-50: #fffdf5;
  --apf-color-semantic-error-100: #ffe9e5;
  --apf-color-semantic-notice-300: #a8c6ff;
  --apf-color-semantic-warning-50: #fffdf5;
  --apf-color-semantic-warning-200: #fff5cc;
  --apf-color-semantic-warning-100: #fffae5;
  --apf-color-semantic-warning-300: #ffeea8;
  --apf-color-semantic-maintenance: #ffcc00;
  --apf-color-semantic-success: #0c8366;
  --apf-color-semantic-notice-200: #ccdeff;
  --apf-color-semantic-information-50: #f7fafd;
  --apf-color-semantic-notice-50: #f7fafd;
  --apf-color-semantic-maintenance-100: #fffae5;
  --apf-color-semantic-notice: #265b8f;
  --apf-color-semantic-information-200: #ccdeff;
  --apf-color-text-primary-dark-nc: #0e202f;
  --apf-color-text-disable-light: rgba(231, 233, 234, 0.45);
  --apf-color-text-primary-dark: #0e202f;
  --apf-color-text-on-secondary: #ffffff;
  --apf-color-text-on-notice: #ffffff;
  --apf-color-text-on-success: #ffffff;
  --apf-color-text-primary-light-nc: #ffffff;
  --apf-color-text-on-a3: #ffffff;
  --apf-color-text-titles: #224d70;
  --apf-color-text-secondary-light: rgba(255, 255, 255, 0.75);
  --apf-color-text-on-complementary: #ffffff;
  --apf-color-text-on-a4: #0e202f;
  --apf-color-text-on-a5: #0e202f;
  --apf-color-text-disable-dark: rgba(24, 54, 78, 0.6);
  --apf-color-text-on-primary: #ffffff;
  --apf-color-text-on-a6: #0e202f;
  --apf-color-text-on-maintenance: #0e202f;
  --apf-color-text-secondary-dark: rgba(14, 32, 47, 0.7);
  --apf-color-text-primary-light: #ffffff;
  --apf-color-text-on-error: #ffffff;
  --apf-color-text-on-a2: #0e202f;
  --apf-color-text-on-warning: #0e202f;
  --apf-color-text-on-info: #ffffff;
  --apf-color-text-on-a1: #0e202f;
  --apf-color-transparent-transparent-dark-500: rgba(0, 0, 0, 0.2);
  --apf-color-transparent-transparent-dark-800: rgba(0, 0, 0, 0.4);
  --apf-color-transparent-transparent-light-100: rgba(255, 255, 255, 0.05);
  --apf-color-transparent-transparent-light-500: rgba(255, 255, 255, 0.2);
  --apf-color-transparent-transparent-light-800: rgba(255, 255, 255, 0.4);
  --apf-color-transparent-transparent-dark-100: rgba(0, 0, 0, 0.05);
  --apf-color-transparent-transparent-dark-200: rgba(0, 0, 0, 0.1);
  --apf-color-transparent-transparent-light-200: rgba(255, 255, 255, 0.1);
  --apf-tokens-global-border-xl: 4;
  --apf-tokens-global-border-lg: 3;
  --apf-tokens-global-border-sm: 1;
  --apf-tokens-global-border-none: 0;
  --apf-tokens-global-border-md: 2;
  --apf-tokens-global-border-xxl: 6;
  --apf-tokens-global-font-family-secondary: Nunito Sans;
  --apf-tokens-global-font-family-primary: Merriweather;
  --apf-tokens-global-font-size-1xs: 14;
  --apf-tokens-global-font-size-1xl: 26;
  --apf-tokens-global-font-size-lg: 22;
  --apf-tokens-global-font-size-sm: 18;
  --apf-tokens-global-font-size-2xl: 34;
  --apf-tokens-global-font-size-md: 20;
  --apf-tokens-global-font-size-xs: 16;
  --apf-tokens-global-font-size-3xl: 40;
  --apf-tokens-global-font-size-2xs: 12;
  --apf-tokens-global-font-size-xl: 24;
  --apf-tokens-global-line-height-2xl: 28;
  --apf-tokens-global-line-height-3xl: 38;
  --apf-tokens-global-line-height-5xl: 44;
  --apf-tokens-global-line-height-xl: 24;
  --apf-tokens-global-line-height-md: 20;
  --apf-tokens-global-line-height-2xs: 12;
  --apf-tokens-global-line-height-lg: 22;
  --apf-tokens-global-line-height-4xl: 40;
  --apf-tokens-global-line-height-sm: 18;
  --apf-tokens-global-line-height-1xs: 14;
  --apf-tokens-global-line-height-xs: 16;
  --apf-tokens-global-line-height-1xl: 26;
  --apf-tokens-global-radius-md: 8;
  --apf-tokens-global-radius-full: 123;
  --apf-tokens-global-radius-xxl: 20;
  --apf-tokens-global-radius-lg: 12;
  --apf-tokens-global-radius-sm: 4;
  --apf-tokens-global-radius-none: 0;
  --apf-tokens-global-radius-xl: 16;
  --apf-tokens-global-size-xxl: 40;
  --apf-tokens-global-size-xl: 32;
  --apf-tokens-global-size-xs: 16;
  --apf-tokens-global-size-md: 20;
  --apf-tokens-global-size-xxs: 12;
  --apf-tokens-global-size-lg: 24;
  --apf-tokens-global-spacing-1xl: 48;
  --apf-tokens-global-spacing-xs: 12;
  --apf-tokens-global-spacing-2xl: 56;
  --apf-tokens-global-spacing-md: 24;
  --apf-tokens-global-spacing-none: 0;
  --apf-tokens-global-spacing-2xs: 4;
  --apf-tokens-global-spacing-3xl: 64;
  --apf-tokens-global-spacing-sm: 16;
  --apf-tokens-global-spacing-lg: 32;
  --apf-tokens-global-spacing-xl: 40;
  --apf-tokens-global-spacing-1xs: 8;
  --apf-tokens-components-components-alert-border-color: #e0e6eb;
  --apf-tokens-components-components-alert-border-radius: 20;
  --apf-tokens-components-components-alert-background: #ffffff;
  --apf-tokens-components-components-alert-border-width: 1;
  --apf-tokens-components-components-alert-help-background: #ebf2fa;
  --apf-tokens-components-components-alert-badge-foreground-color: #ffffff;
  --apf-tokens-components-components-alert-badge-border-radius: 123;
  --apf-tokens-components-components-alert-badge-background: #a6301e;
  --apf-tokens-components-components-bottom-bar-light-background: #ffffff;
  --apf-tokens-components-components-bottom-bar-secondary-background: #e2d2d0;
  --apf-tokens-components-components-bubbles-xl-border-radius: 8;
  --apf-tokens-components-components-bubbles-xs-border-radius: 4;
  --apf-tokens-components-components-button-focus-border-color: #000000;
  --apf-tokens-components-components-button-ghost-complementary-active-background: #fbece9;
  --apf-tokens-components-components-button-ghost-complementary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-complementary-default-foreground-color: #a6301e;
  --apf-tokens-components-components-button-ghost-complementary-default-border-color: #a6301e;
  --apf-tokens-components-components-button-ghost-complementary-disabled-border-color: #ababab;
  --apf-tokens-components-components-button-ghost-complementary-disabled-foreground-color: #767676;
  --apf-tokens-components-components-button-ghost-primary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-primary-active-background: #f5f0ef;
  --apf-tokens-components-components-button-ghost-primary-default-foreground-color: #b44d3d;
  --apf-tokens-components-components-button-ghost-primary-default-border-color: #b44d3d;
  --apf-tokens-components-components-button-ghost-primary-disabled-border-color: #ababab;
  --apf-tokens-components-components-button-ghost-primary-disabled-foreground-color: #767676;
  --apf-tokens-components-components-button-ghost-secondary-active-background: #f9fafb;
  --apf-tokens-components-components-button-ghost-secondary-active-border-radius: 12;
  --apf-tokens-components-components-button-ghost-secondary-default-border-color: #224d70;
  --apf-tokens-components-components-button-ghost-secondary-default-foreground-color: #224d70;
  --apf-tokens-components-components-button-ghost-secondary-disabled-border-color: #ababab;
  --apf-tokens-components-components-button-ghost-secondary-disabled-foreground-color: #767676;
  --apf-tokens-components-components-button-solid-complementary-active-background: #c23924;
  --apf-tokens-components-components-button-solid-complementary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-default-foreground-color: #ffffff;
  --apf-tokens-components-components-button-solid-complementary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-default-background: #a6301e;
  --apf-tokens-components-components-button-solid-complementary-disabled-background: #ababab;
  --apf-tokens-components-components-button-solid-complementary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-disabled-foreground-color: #313131;
  --apf-tokens-components-components-button-solid-complementary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-complementary-focus-background: #a6301e;
  --apf-tokens-components-components-button-solid-complementary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-primary-foreground-color: #0e202f;
  --apf-tokens-components-components-button-solid-primary-active-background: #9c4335;
  --apf-tokens-components-components-button-solid-primary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-default-foreground-color: #ffffff;
  --apf-tokens-components-components-button-solid-primary-default-background: #b44d3d;
  --apf-tokens-components-components-button-solid-primary-disabled-foreground-color: #313131;
  --apf-tokens-components-components-button-solid-primary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-primary-disabled-background: #ababab;
  --apf-tokens-components-components-button-solid-primary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-primary-focus-background: #b44d3d;
  --apf-tokens-components-components-button-solid-primary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-active-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-active-background: #1b3f5c;
  --apf-tokens-components-components-button-solid-secondary-default-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-default-background: #224d70;
  --apf-tokens-components-components-button-solid-secondary-default-foreground-color: #ffffff;
  --apf-tokens-components-components-button-solid-secondary-disabled-background: #ababab;
  --apf-tokens-components-components-button-solid-secondary-disabled-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-disabled-foreground-color: #313131;
  --apf-tokens-components-components-button-solid-secondary-focus-border-width: 3;
  --apf-tokens-components-components-button-solid-secondary-focus-border-radius: 12;
  --apf-tokens-components-components-button-solid-secondary-focus-background: #224d70;
  --apf-tokens-components-components-button-text-button-dark-foreground-color: #0e202f;
  --apf-tokens-components-components-button-text-button-dark-active-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-button-text-button-dark-active-border-color: #0e202f;
  --apf-tokens-components-components-button-text-button-dark-nc-foreground-color: #0e202f;
  --apf-tokens-components-components-button-text-button-dark-nc-active-border-color: #0e202f;
  --apf-tokens-components-components-button-text-button-light-foreground-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-active-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-button-text-button-light-active-border-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-disabled-foreground-color: #ababab;
  --apf-tokens-components-components-button-text-button-light-nc-foreground-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-nc-active-border-color: #ffffff;
  --apf-tokens-components-components-button-text-button-light-nc-disabled-foreground-color: #ababab;
  --apf-tokens-components-components-calendar-day-border-width: 3;
  --apf-tokens-components-components-calendar-day-border-radius: 12;
  --apf-tokens-components-components-calendar-day-available-background: #ffffff;
  --apf-tokens-components-components-calendar-day-available-border-color: #ffffff;
  --apf-tokens-components-components-calendar-day-available-foreground-color: #0e202f;
  --apf-tokens-components-components-calendar-day-book-border-color: #d0dae2;
  --apf-tokens-components-components-calendar-day-book-background: #d0dae2;
  --apf-tokens-components-components-calendar-day-book-foreground-color: #0e202f;
  --apf-tokens-components-components-calendar-day-book-select-background: #d0dae2;
  --apf-tokens-components-components-calendar-day-book-select-foreground-color: #0e202f;
  --apf-tokens-components-components-calendar-day-book-select-border-color: #224d70;
  --apf-tokens-components-components-calendar-day-book-today-background: #d0dae2;
  --apf-tokens-components-components-calendar-day-book-today-border-color: #a6301e;
  --apf-tokens-components-components-calendar-day-book-today-foreground-color: #a6301e;
  --apf-tokens-components-components-calendar-day-book-today-select-border-color: #224d70;
  --apf-tokens-components-components-calendar-day-book-today-select-background: #d0dae2;
  --apf-tokens-components-components-calendar-day-book-today-select-foreground-color: #a6301e;
  --apf-tokens-components-components-calendar-day-inactive-background: #ffffff;
  --apf-tokens-components-components-calendar-day-inactive-foreground-color: rgba(0, 0, 0, 0.2);
  --apf-tokens-components-components-calendar-day-inactive-border-color: #ffffff;
  --apf-tokens-components-components-calendar-day-non-available-background: #ab1228;
  --apf-tokens-components-components-calendar-day-non-available-foreground-color: #ffffff;
  --apf-tokens-components-components-calendar-day-non-available-border-color: #ab1228;
  --apf-tokens-components-components-calendar-day-select-border-color: #224d70;
  --apf-tokens-components-components-calendar-day-select-background: #224d70;
  --apf-tokens-components-components-calendar-day-select-foreground-color: #ffffff;
  --apf-tokens-components-components-calendar-day-today-border-color: #a6301e;
  --apf-tokens-components-components-calendar-day-today-background: #ffffff;
  --apf-tokens-components-components-calendar-day-today-foreground-color: #a6301e;
  --apf-tokens-components-components-calendar-day-today-select-background: #ffffff;
  --apf-tokens-components-components-calendar-day-today-select-border-color: #224d70;
  --apf-tokens-components-components-calendar-day-today-select-foreground-color: #a6301e;
  --apf-tokens-components-components-checkbox-border-width: 1;
  --apf-tokens-components-components-checkbox-background: #ffffff;
  --apf-tokens-components-components-checkbox-border-radius: 4;
  --apf-tokens-components-components-checkbox-checked-background: #0e202f;
  --apf-tokens-components-components-checkbox-checked-foreground-color: #ffffff;
  --apf-tokens-components-components-checkbox-checked-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-checked-title-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-checked-disabled-foreground-color: rgba(0, 0, 0, 0.4);
  --apf-tokens-components-components-checkbox-checked-disabled-background: rgba(0, 0, 0, 0.2);
  --apf-tokens-components-components-checkbox-checked-disabled-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-checked-disabled-title-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-disabled-background: rgba(0, 0, 0, 0.2);
  --apf-tokens-components-components-checkbox-disabled-border-color: rgba(0, 0, 0, 0.4);
  --apf-tokens-components-components-checkbox-disabled-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-disabled-title-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-indeterminate-background: rgba(0, 0, 0, 0.2);
  --apf-tokens-components-components-checkbox-indeterminate-foreground-color: #ffffff;
  --apf-tokens-components-components-checkbox-indeterminate-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-indeterminate-title-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-unchecked-border-color: #0e202f;
  --apf-tokens-components-components-checkbox-unchecked-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-unchecked-title-foreground-color: #0e202f;
  --apf-tokens-components-components-checkbox-unchecked-disabled-border-color: rgba(0, 0, 0, 0.4);
  --apf-tokens-components-components-checkbox-unchecked-disabled-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-checkbox-unchecked-disabled-title-foreground-color: #0e202f;
  --apf-tokens-components-components-chip-border-radius: 12;
  --apf-tokens-components-components-chip-default-border-width: 1;
  --apf-tokens-components-components-chip-focus-border-width: 3;
  --apf-tokens-components-components-data-dark-label-foreground-color: #e5e5e5;
  --apf-tokens-components-components-data-dark-value-foreground-color: #ffffff;
  --apf-tokens-components-components-data-light-label-foreground-color: #5b5b5b;
  --apf-tokens-components-components-data-light-value-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-border-radius: 12;
  --apf-tokens-components-components-data-card-light-border-color: #b0c1ce;
  --apf-tokens-components-components-data-card-light-active-background: #f9fafb;
  --apf-tokens-components-components-data-card-light-active-border-color: #0e202f;
  --apf-tokens-components-components-data-card-light-active-border-width: 2;
  --apf-tokens-components-components-data-card-light-default-border-width: 1;
  --apf-tokens-components-components-data-card-light-default-data-card-light-background: #ffffff;
  --apf-tokens-components-components-data-card-light-default-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-data-card-light-default-icons-2-foreground-color: #a6301e;
  --apf-tokens-components-components-data-card-light-default-section-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-light-default-section-2-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-light-default-subsection-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-light-default-subsection-2-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-light-default-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-data-card-light-default-subtitle-2-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-data-card-light-default-title-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-light-default-title-2-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-light-inactive-background: #ffffff;
  --apf-tokens-components-components-data-card-light-inactive-border-color: #e0e6eb;
  --apf-tokens-components-components-data-card-light-inactive-icons-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-section-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-subsection-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-subtitle-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-text-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-light-inactive-title-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-active-border-color: #0e202f;
  --apf-tokens-components-components-data-card-primary-active-border-width: 2;
  --apf-tokens-components-components-data-card-primary-active-background: #eff3f5;
  --apf-tokens-components-components-data-card-primary-default-background: #eff3f5;
  --apf-tokens-components-components-data-card-primary-default-border-width: 1;
  --apf-tokens-components-components-data-card-primary-default-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-data-card-primary-default-icons-2-foreground-color: #a6301e;
  --apf-tokens-components-components-data-card-primary-default-section-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-primary-default-section-2-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-primary-default-subsection-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-primary-default-subsection-2-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-primary-default-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-data-card-primary-default-subtitle-2-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-data-card-primary-default-title-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-primary-default-title-2-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-primary-inactive-background: #f9fafb;
  --apf-tokens-components-components-data-card-primary-inactive-icons-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-section-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-subsection-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-subtitle-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-text-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-primary-inactive-title-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-border-color: #e2d2d0;
  --apf-tokens-components-components-data-card-secondary-active-background: #f5f0ef;
  --apf-tokens-components-components-data-card-secondary-active-border-width: 2;
  --apf-tokens-components-components-data-card-secondary-active-border-color: #0e202f;
  --apf-tokens-components-components-data-card-secondary-default-background: #f5f0ef;
  --apf-tokens-components-components-data-card-secondary-default-border-width: 1;
  --apf-tokens-components-components-data-card-secondary-default-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-data-card-secondary-default-section-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-secondary-default-subsection-foreground-color: #224d70;
  --apf-tokens-components-components-data-card-secondary-default-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-data-card-secondary-default-title-foreground-color: #0e202f;
  --apf-tokens-components-components-data-card-secondary-inactive-background: #fbf9f9;
  --apf-tokens-components-components-data-card-secondary-inactive-icons-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-section-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-subsection-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-subtitle-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-text-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-data-card-secondary-inactive-title-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-document-border-color: #e0e6eb;
  --apf-tokens-components-components-document-border-width: 1;
  --apf-tokens-components-components-document-border-radius: 12;
  --apf-tokens-components-components-document-light-background: #ffffff;
  --apf-tokens-components-components-document-medium-background: #eff3f5;
  --apf-tokens-components-components-document-simple-border-width: 1;
  --apf-tokens-components-components-document-simple-border-radius: 16;
  --apf-tokens-components-components-document-simple-border-color: #e0e6eb;
  --apf-tokens-components-components-document-simple-dark-background: #224d70;
  --apf-tokens-components-components-document-simple-light-background: #ffffff;
  --apf-tokens-components-components-document-simple-medium-background: #eff3f5;
  --apf-tokens-components-components-empty-state-alert-background: #f5f0ef;
  --apf-tokens-components-components-empty-state-alert-icon-foreground-color: #ab1228;
  --apf-tokens-components-components-empty-state-default-background: #f9fafb;
  --apf-tokens-components-components-empty-state-default-icon-foreground-color: #a6301e;
  --apf-tokens-components-components-header-content-background: #ffffff;
  --apf-tokens-components-components-header-content-foreground-color: #161616;
  --apf-tokens-components-components-header-content-border-color: #e0e6eb;
  --apf-tokens-components-components-header-content-border-width: 1;
  --apf-tokens-components-components-header-overlay-foreground-color: #0e202f;
  --apf-tokens-components-components-header-overlay-background: #eff3f5;
  --apf-tokens-components-components-home-indicator-line-dark-foreground-color: #ffffff;
  --apf-tokens-components-components-home-indicator-line-light-foreground-color: #0e202f;
  --apf-tokens-components-components-icon-button-medium-active-foreground-color: #0e202f;
  --apf-tokens-components-components-icon-button-medium-active-background: rgba(0, 0, 0, 0.1);
  --apf-tokens-components-components-icon-button-medium-default-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-icon-button-medium-default-foreground-color: #0e202f;
  --apf-tokens-components-components-icon-button-medium-disabled-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-icon-button-medium-disabled-foreground-color: #313131;
  --apf-tokens-components-components-icon-button-medium-focus-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-info-card-border-radius: 12;
  --apf-tokens-components-components-info-card-border-color: #e0e6eb;
  --apf-tokens-components-components-info-card-border-width: 1;
  --apf-tokens-components-components-info-card-a1-info-card-a1-background: #54cf8f;
  --apf-tokens-components-components-info-card-a1-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a1-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a1-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-a4-background: #42d7f8;
  --apf-tokens-components-components-info-card-a4-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a4-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a4-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-a6-background: #fae47a;
  --apf-tokens-components-components-info-card-a6-division-stroke-border-color: #0e202f;
  --apf-tokens-components-components-info-card-a6-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-a6-text-foreground-color: #0e202f;
  --apf-tokens-components-components-info-card-dark-primary-background: #224d70;
  --apf-tokens-components-components-info-card-dark-primary-division-stroke-border-color: #ffffff;
  --apf-tokens-components-components-info-card-dark-primary-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-dark-primary-text-foreground-color: #ffffff;
  --apf-tokens-components-components-info-card-dark-secondary-background: #b44d3d;
  --apf-tokens-components-components-info-card-dark-secondary-division-stroke-border-color: #ffffff;
  --apf-tokens-components-components-info-card-dark-secondary-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-dark-secondary-text-foreground-color: #ffffff;
  --apf-tokens-components-components-info-card-light-background: #ffffff;
  --apf-tokens-components-components-info-card-light-division-stroke-border-color: #464646;
  --apf-tokens-components-components-info-card-light-division-stroke-border-width: 1;
  --apf-tokens-components-components-info-card-light-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-info-card-light-section-foreground-color: #224d70;
  --apf-tokens-components-components-info-card-light-sub-section-foreground-color: #224d70;
  --apf-tokens-components-components-info-card-light-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-info-card-light-title-foreground-color: #0e202f;
  --apf-tokens-components-components-info-step-bubble-border-radius: 123;
  --apf-tokens-components-components-info-step-bubble-background: #0e202f;
  --apf-tokens-components-components-info-step-bubble-foreground-color: #ffffff;
  --apf-tokens-components-components-info-step-line-border-width: 4;
  --apf-tokens-components-components-info-step-line-foreground-color: rgba(0, 0, 0, 0.2);
  --apf-tokens-components-components-info-step-number-foreground-color: #17334a;
  --apf-tokens-components-components-info-step-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-info-step-title-foreground-color: #0e202f;
  --apf-tokens-components-components-input-border-radius: 8;
  --apf-tokens-components-components-input-border-width: 1;
  --apf-tokens-components-components-input-background: #ffffff;
  --apf-tokens-components-components-input-active-background: #f9fafb;
  --apf-tokens-components-components-input-active-border-color: #0e202f;
  --apf-tokens-components-components-input-default-border-color: #718fa8;
  --apf-tokens-components-components-input-error-border-color: #ab1228;
  --apf-tokens-components-components-input-filled-border-color: #718fa8;
  --apf-tokens-components-components-label-border-radius: 20;
  --apf-tokens-components-components-label-border-width: 1;
  --apf-tokens-components-components-label-light-a1-border-color: #0e202f;
  --apf-tokens-components-components-label-light-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a1-background: #54cf8f;
  --apf-tokens-components-components-label-light-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a4-border-color: #0e202f;
  --apf-tokens-components-components-label-light-a4-background: #42d7f8;
  --apf-tokens-components-components-label-light-a6-background: #fae47a;
  --apf-tokens-components-components-label-light-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-a6-border-color: #0e202f;
  --apf-tokens-components-components-label-light-error-border-color: #ab1228;
  --apf-tokens-components-components-label-light-error-background: #ffe9e5;
  --apf-tokens-components-components-label-light-error-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-info-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-info-border-color: #265b8f;
  --apf-tokens-components-components-label-light-info-background: #ebf2fa;
  --apf-tokens-components-components-label-light-primary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-light-primary-background: #224d70;
  --apf-tokens-components-components-label-light-primary-border-color: #ffffff;
  --apf-tokens-components-components-label-light-secondary-border-color: #ffffff;
  --apf-tokens-components-components-label-light-secondary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-light-secondary-background: #b34d3d;
  --apf-tokens-components-components-label-light-success-border-color: #0c8366;
  --apf-tokens-components-components-label-light-success-background: #e8fdf8;
  --apf-tokens-components-components-label-light-success-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-warning-background: #fffae5;
  --apf-tokens-components-components-label-light-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-label-light-warning-border-color: #ffcc00;
  --apf-tokens-components-components-label-middle-a1-background: #54cf8f;
  --apf-tokens-components-components-label-middle-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a4-background: #42d7f8;
  --apf-tokens-components-components-label-middle-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-a6-background: #fae47a;
  --apf-tokens-components-components-label-middle-error-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-error-background: #ffb6a8;
  --apf-tokens-components-components-label-middle-info-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-info-background: #a8c6ff;
  --apf-tokens-components-components-label-middle-primary-background: #1b3f5c;
  --apf-tokens-components-components-label-middle-primary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-middle-secondary-background: #b34d3d;
  --apf-tokens-components-components-label-middle-secondary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-middle-success-foreground-color: #0e202f;
  --apf-tokens-components-components-label-middle-success-background: #b0f8e6;
  --apf-tokens-components-components-label-middle-warning-background: #ffeea8;
  --apf-tokens-components-components-label-middle-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-a1-background: #54cf8f;
  --apf-tokens-components-components-label-solid-a1-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-a4-background: #42d7f8;
  --apf-tokens-components-components-label-solid-a4-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-a6-background: #fae47a;
  --apf-tokens-components-components-label-solid-a6-foreground-color: #0e202f;
  --apf-tokens-components-components-label-solid-error-background: #ab1228;
  --apf-tokens-components-components-label-solid-error-foreground-color: #ffffff;
  --apf-tokens-components-components-label-solid-info-foreground-color: #ffffff;
  --apf-tokens-components-components-label-solid-info-background: #265b8f;
  --apf-tokens-components-components-label-solid-primary-background: #0e202f;
  --apf-tokens-components-components-label-solid-primary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-solid-secondary-foreground-color: #ffffff;
  --apf-tokens-components-components-label-solid-secondary-background: #9c4335;
  --apf-tokens-components-components-label-solid-success-foreground-color: #ffffff;
  --apf-tokens-components-components-label-solid-success-background: #0c8366;
  --apf-tokens-components-components-label-solid-warning-background: #ffcc00;
  --apf-tokens-components-components-label-solid-warning-foreground-color: #0e202f;
  --apf-tokens-components-components-menu-list-boxed-border-radius: 12;
  --apf-tokens-components-components-menu-list-default-focus-border-width: 3;
  --apf-tokens-components-components-nav-item-dark-border-radius: 8;
  --apf-tokens-components-components-nav-item-dark-active-foreground-color: #ffffff;
  --apf-tokens-components-components-nav-item-dark-active-background: rgba(255, 255, 255, 0.05);
  --apf-tokens-components-components-nav-item-dark-default-background: #224d70;
  --apf-tokens-components-components-nav-item-dark-default-foreground-color: rgba(255, 255, 255, 0.75);
  --apf-tokens-components-components-nav-item-light-border-radius: 8;
  --apf-tokens-components-components-nav-item-light-active-background: rgba(0, 0, 0, 0.05);
  --apf-tokens-components-components-nav-item-light-active-foreground-color: #a6301e;
  --apf-tokens-components-components-nav-item-light-default-background: #ffffff;
  --apf-tokens-components-components-nav-item-light-default-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-notification-border-radius: 16;
  --apf-tokens-components-components-notification-border-width: 1;
  --apf-tokens-components-components-notification-complementary-border-color: #d73f28;
  --apf-tokens-components-components-notification-complementary-default-background: #fbece9;
  --apf-tokens-components-components-notification-complementary-solid-background: #a6301e;
  --apf-tokens-components-components-notification-error-border-color: #ab1228;
  --apf-tokens-components-components-notification-error-default-background: #ffe9e5;
  --apf-tokens-components-components-notification-error-solid-background: #ab1228;
  --apf-tokens-components-components-notification-info-border-color: #265b8f;
  --apf-tokens-components-components-notification-info-default-background: #ebf2fa;
  --apf-tokens-components-components-notification-info-solid-background: #265b8f;
  --apf-tokens-components-components-notification-primary-border-color: #224d70;
  --apf-tokens-components-components-notification-primary-default-background: #e0e6eb;
  --apf-tokens-components-components-notification-primary-solid-background: #224d70;
  --apf-tokens-components-components-notification-secondary-border-color: #9c4335;
  --apf-tokens-components-components-notification-secondary-default-background: #ede5e3;
  --apf-tokens-components-components-notification-secondary-solid-background: #b44d3d;
  --apf-tokens-components-components-notification-success-border-color: #0c8366;
  --apf-tokens-components-components-notification-success-default-background: #e8fdf8;
  --apf-tokens-components-components-notification-success-solid-background: #0c8366;
  --apf-tokens-components-components-notification-warning-border-color: #ffcc00;
  --apf-tokens-components-components-notification-warning-default-background: #fffae5;
  --apf-tokens-components-components-notification-warning-solid-background: #ffcc00;
  --apf-tokens-components-components-notification-compact-border-width: 1;
  --apf-tokens-components-components-notification-compact-border-radius: 8;
  --apf-tokens-components-components-notification-compact-maintenance-border-color: #ffcc00;
  --apf-tokens-components-components-notification-compact-maintenance-default-background: #fffdf5;
  --apf-tokens-components-components-notification-compact-maintenance-default-background-globe: #fff5cc;
  --apf-tokens-components-components-notification-compact-notice-border-color: #265b8f;
  --apf-tokens-components-components-notification-compact-notice-default-background-globe: #ccdeff;
  --apf-tokens-components-components-notification-compact-notice-default-background: #f7fafd;
  --apf-tokens-components-components-notification-globe-border-width: 1;
  --apf-tokens-components-components-notification-globe-border-radius: 16;
  --apf-tokens-components-components-notification-globe-info-border-color: #265b8f;
  --apf-tokens-components-components-notification-globe-info-default-background-globe: #ccdeff;
  --apf-tokens-components-components-notification-globe-info-default-background: #f7fafd;
  --apf-tokens-components-components-notification-globe-warning-border-color: #ffcc00;
  --apf-tokens-components-components-notification-globe-warning-default-background: #fffdf5;
  --apf-tokens-components-components-notification-globe-warning-default-background-globe: #fff5cc;
  --apf-tokens-components-components-overlay-background: #ffffff;
  --apf-tokens-components-components-process-background: #eff3f5;
  --apf-tokens-components-components-screen-bar-border-radius: 0;
  --apf-tokens-components-components-screen-bar-dark-background: #224d70;
  --apf-tokens-components-components-screen-bar-dark-foreground-color: #ffffff;
  --apf-tokens-components-components-screen-bar-light-background: #ffffff;
  --apf-tokens-components-components-screen-bar-light-foreground-color: #0e202f;
  --apf-tokens-components-components-screen-bar-light-border-width: 1;
  --apf-tokens-components-components-screen-bar-light-border-color: #e0e6eb;
  --apf-tokens-components-components-screen-bar-medium-foreground-color: #0e202f;
  --apf-tokens-components-components-screen-bar-medium-background: #eff3f5;
  --apf-tokens-components-components-search-border-radius: 20;
  --apf-tokens-components-components-search-box-border-radius: 12;
  --apf-tokens-components-components-search-box-background: #ffffff;
  --apf-tokens-components-components-search-box-border-color: #767676;
  --apf-tokens-components-components-search-box-default-border-width: 2;
  --apf-tokens-components-components-search-box-focus-border-width: 3;
  --apf-tokens-components-components-slider-border-radius: 8;
  --apf-tokens-components-components-slider-default-slider-background: #eff3f5;
  --apf-tokens-components-components-slider-default-bar-foreground-color: #767676;
  --apf-tokens-components-components-slider-disabled-background: #929292;
  --apf-tokens-components-components-slider-disabled-bar-foreground-color: #c9c9c9;
  --apf-tokens-components-components-slider-filled-slider-filled-background: #a6301e;
  --apf-tokens-components-components-slider-filled-bar-foreground-color: #f1f1f1;
  --apf-tokens-components-components-slider-slider-thumb-border-color: #ffffff;
  --apf-tokens-components-components-slider-slider-thumb-border-width: 4;
  --apf-tokens-components-components-slider-slider-thumb-background: #a6301e;
  --apf-tokens-components-components-slider-slider-thumb-border-radius: 123;
  --apf-tokens-components-components-slider-slider-thumb-disabled-background: #929292;
  --apf-tokens-components-components-slider-text-foreground-color: #0e202f;
  --apf-tokens-components-components-status-bar-foreground-color: #0e202f;
  --apf-tokens-components-components-status-bar-light-background: #ffffff;
  --apf-tokens-components-components-status-bar-primary-background: #eff3f5;
  --apf-tokens-components-components-step-process-dark-background: #224d70;
  --apf-tokens-components-components-step-process-light-background: #ffffff;
  --apf-tokens-components-components-step-process-medium-background: #eff3f5;
  --apf-tokens-components-components-subtitles-dark-foreground-color: rgba(255, 255, 255, 0.75);
  --apf-tokens-components-components-subtitles-light-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-tab-dark-border-width: 1;
  --apf-tokens-components-components-tab-dark-disabled-border-color: #fbece9;
  --apf-tokens-components-components-tab-dark-disabled-foreground-color: rgba(255, 255, 255, 0.75);
  --apf-tokens-components-components-tab-dark-disabled-icons-foreground-color: rgba(255, 255, 255, 0.75);
  --apf-tokens-components-components-tab-dark-enabled-foreground-color: #ffffff;
  --apf-tokens-components-components-tab-dark-enabled-border-color: #fbece9;
  --apf-tokens-components-components-tab-dark-enabled-icons-foreground-color: #ffffff;
  --apf-tokens-components-components-tab-light-border-width: 3;
  --apf-tokens-components-components-tab-light-disabled-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-tab-light-disabled-border-color: #d0dae2;
  --apf-tokens-components-components-tab-light-disabled-icons-foreground-color: rgba(24, 54, 78, 0.6);
  --apf-tokens-components-components-tab-light-enabled-foreground-color: #0e202f;
  --apf-tokens-components-components-tab-light-enabled-border-color: #a6301e;
  --apf-tokens-components-components-tab-light-enabled-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-timeline-bubble-background: #0e202f;
  --apf-tokens-components-components-timeline-line-border-width: 4;
  --apf-tokens-components-components-timeline-line-foreground-color: #0e202f;
  --apf-tokens-components-components-timeline-number-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-timeline-subtitle-foreground-color: #0e202f;
  --apf-tokens-components-components-timeline-title-foreground-color: #0e202f;
  --apf-tokens-components-components-titles-dark-foreground-color: #ffffff;
  --apf-tokens-components-components-titles-light-foreground-color: #0e202f;
  --apf-tokens-components-components-toast-border-radius: 8;
  --apf-tokens-components-components-tooltip-border-radius: 8;
  --apf-tokens-components-components-top-home-bar-dark-background: #eff3f5;
  --apf-tokens-components-components-top-home-bar-light-background: #ffffff;
  --apf-tokens-components-components-top-home-bar-light-foreground-color: #0e202f;
  --apf-tokens-components-components-top-notification-default-background: #ffce00;
  --apf-tokens-components-components-top-notification-default-foreground-color: #0e202f;
  --apf-tokens-components-components-top-section-bar-foreground-color: #0e202f;
  --apf-tokens-components-components-top-section-bar-light-background: #ffffff;
  --apf-tokens-components-components-top-section-bar-primary-background: #eff3f5;
  --apf-tokens-components-components-top-section-bar-secondary-background: #ede5e3;
  --apf-tokens-components-components-upload-file-border-radius: 8;
  --apf-tokens-components-components-upload-file-border-width: 1;
  --apf-tokens-components-components-upload-file-border-color: #b0c1ce;
  --apf-tokens-components-components-upload-file-background: #ffffff;
  --apf-tokens-components-components-upload-file-error-border-color: #ab1228;
  --apf-tokens-components-components-user-header-background: #eff3f5;
  --apf-tokens-components-components-value-card-border-width: 1;
  --apf-tokens-components-components-value-card-border-radius: 8;
  --apf-tokens-components-components-value-card-icons-foreground-color: #a6301e;
  --apf-tokens-components-components-value-card-negative-background: #ffe9e5;
  --apf-tokens-components-components-value-card-negative-border-color: #ab1228;
  --apf-tokens-components-components-value-card-negative-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-value-card-negative-title-foreground-color: #ab1228;
  --apf-tokens-components-components-value-card-normal-background: #ffffff;
  --apf-tokens-components-components-value-card-normal-border-color: #e0e6eb;
  --apf-tokens-components-components-value-card-normal-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-value-card-normal-title-foreground-color: #0e202f;
  --apf-tokens-components-components-value-card-positive-border-color: #0c8366;
  --apf-tokens-components-components-value-card-positive-background: #e8fdf8;
  --apf-tokens-components-components-value-card-positive-subtitle-foreground-color: rgba(14, 32, 47, 0.7);
  --apf-tokens-components-components-value-card-positive-title-foreground-color: #0c8366;
  --apf-tokens-components-components-value-card-primary-background: #224d70;
  --apf-tokens-components-components-value-card-primary-subtitle-foreground-color: rgba(255, 255, 255, 0.75);
  --apf-tokens-components-components-value-card-primary-title-foreground-color: #ffffff;
}
